/* --- IMPORTS --- */
/* FONTS */
/* FONT SIZES */
/* COLOR PALETTE */
/* SHADOW BACKGROUNDS */
/* MARGINS */
/* BREAKPOINTS */
body, h2, h1, h3, div, section, aside, header, footer, nav, p, ul, ol, li, article, img, main, a {
  margin: 0;
  padding: 0; }

/* --- GENERAL --- */
body {
  color: #444444;
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
  padding: 0px; }
  body h2 {
    color: #444444;
    font-family: "montserrat", sans-serif;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 15px 0; }
    @media (max-width: 599px) {
      body h2 {
        font-size: 1.25rem; } }
    @media (min-width: 600px) and (max-width: 960px) {
      body h2 {
        font-size: 1.75rem; } }
  body ul li {
    display: inline-block;
    list-style: none;
    padding-right: 20px; }
    body ul li a {
      color: #81909a;
      font-size: 0.8rem;
      text-decoration: none;
      text-transform: uppercase; }
      body ul li a:hover, body ul li a:active {
        text-decoration: none;
        color: #f7b231; }
      body ul li a.button-cta {
        background-color: #ffffff;
        border: 1px solid #f7b231;
        border-radius: 30px;
        color: #f7b231;
        padding: 16px 40px; }
      body ul li a.page-scroll {
        margin-top: 0px; }
  body a {
    color: #81909a;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase; }
    body a:hover, body a:active {
      text-decoration: none;
      color: #f7b231; }
    body a.button-cta {
      background-color: #ffffff;
      border: 1px solid #f7b231;
      border-radius: 30px;
      color: #f7b231;
      padding: 16px 40px; }
    body a.page-scroll {
      margin-top: 0px; }
  body .page-scroll {
    color: #81909a;
    float: right;
    font-family: "montserrat", sans-serif;
    font-size: 0.8rem;
    margin-bottom: 5%;
    margin-right: 20px;
    margin-top: 20px;
    text-transform: uppercase; }
    @media (max-width: 599px) {
      body .page-scroll {
        float: none; } }
  body .row {
    clear: both; }
  body .section-content {
    margin: 0 auto;
    margin-top: 20%;
    max-width: 1100px;
    width: 80%; }
    @media (max-width: 599px) {
      body .section-content {
        max-width: 599px;
        width: 80%; } }
  body .title-signature {
    font-family: "lato", sans-serif;
    font-size: 1rem;
    font-weight: 300; }
  body .section-header {
    margin: 0 3%;
    margin-bottom: 80px;
    text-align: center; }
  body .project-title {
    font-size: 2rem;
    font-weight: 300; }
  body .icon {
    padding-right: 10px; }

/* --- START HEADER CONTENT --- */
#header-content {
  background: #ffffff;
  padding: 15px 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 2; }
  #header-content div {
    margin-top: 0; }
    #header-content div .brand {
      color: #f7b231;
      float: left;
      font-size: 1rem;
      padding-left: 16px;
      margin: 2px 0 0 0; }
      @media (max-width: 599px) {
        #header-content div .brand {
          padding-left: 0; } }

/* --- END HEADER CONTENT --- */
/* --- START CONTENT --- */
#site-content {
  margin-top: 7%; }
  #site-content .above-content {
    margin-top: 13%; }
    @media (max-width: 599px) {
      #site-content .above-content {
        margin-top: 30%; } }
    #site-content .above-content div {
      margin-bottom: 8%; }
      #site-content .above-content div .container {
        margin-bottom: 0; }
        @media (max-width: 599px) {
          #site-content .above-content div .container {
            margin-top: 100%; } }
        #site-content .above-content div .container p {
          color: #81909a;
          font-size: 1rem;
          margin-left: 15px;
          text-transform: uppercase; }
          #site-content .above-content div .container p .icon {
            color: #f2887d;
            padding: 0 5px; }
          @media (max-width: 599px) {
            #site-content .above-content div .container p {
              margin-left: 0; } }
        #site-content .above-content div .container .above-description {
          float: left;
          margin-left: 15px;
          max-width: 60%;
          position: relative; }
          @media (max-width: 599px) {
            #site-content .above-content div .container .above-description {
              float: none;
              margin-left: 0;
              max-width: 100%;
              width: 100%; } }
          @media (min-width: 600px) and (max-width: 960px) {
            #site-content .above-content div .container .above-description {
              max-width: 50%; } }
          #site-content .above-content div .container .above-description span {
            background-color: lightyellow;
            color: #81909a;
            font-family: "lato", sans-serif;
            font-size: 1.125rem; }
          #site-content .above-content div .container .above-description .skills-list {
            color: #f7b231;
            margin-top: 25px;
            padding: 0px; }
            #site-content .above-content div .container .above-description .skills-list li {
              color: #81909a;
              font-size: 1rem;
              text-transform: uppercase; }
      #site-content .above-content div .hero-image {
        float: right;
        overflow: hidden;
        max-width: calc(100% - 60% - 80px);
        position: relative; }
        @media (max-width: 599px) {
          #site-content .above-content div .hero-image {
            float: none;
            left: 20%;
            overflow: visible;
            margin: 0 auto;
            max-width: 100%;
            position: absolute;
            top: 15%;
            width: 80%; } }
        @media (min-width: 600px) and (max-width: 960px) {
          #site-content .above-content div .hero-image {
            max-width: calc(100% - 50% - 80px); } }
        @media (max-width: 599px) {
          #site-content .above-content div .hero-image img {
            width: 70%; } }
        @media (min-width: 600px) and (max-width: 960px) {
          #site-content .above-content div .hero-image img {
            width: 90%; } }
    @media (max-width: 599px) {
      #site-content .above-content .above-navigation {
        margin-bottom: 50px;
        margin-top: 15%;
        text-align: center; } }
    #site-content .above-content .above-navigation a.page-scroll {
      background-color: lightyellow;
      border: 1px solid #f7b231;
      font-family: "montserrat", sans-serif;
      font-size: 0.8rem;
      float: right;
      padding: 16px 40px; }
      #site-content .above-content .above-navigation a.page-scroll:hover {
        background-color: #f7b231;
        color: #ffffff; }
      @media (max-width: 599px) {
        #site-content .above-content .above-navigation a.page-scroll {
          margin: auto;
          float: none; } }
  #site-content .contacts-content {
    background: rgba(107, 124, 147, 0.1);
    color: #81909a;
    height: 390px;
    margin-top: 5%;
    padding: 30px 5%;
    width: 80%; }
    @media (max-width: 960px) {
      #site-content .contacts-content {
        max-width: 80%;
        height: 680px; } }
    #site-content .contacts-content div article {
      margin: 0 2%;
      position: relative; }
      #site-content .contacts-content div article:first-child {
        float: left;
        top: 40px; }
        @media (max-width: 960px) {
          #site-content .contacts-content div article:first-child {
            float: none;
            margin-bottom: 40px;
            margin-top: 20px;
            max-width: 80%;
            top: 0; } }
        #site-content .contacts-content div article:first-child p {
          margin: 30px 0; }
          #site-content .contacts-content div article:first-child p:nth-child(1) {
            margin: 0; }
          #site-content .contacts-content div article:first-child p:last-child {
            color: #f7b231;
            font-weight: 700;
            margin-top: 70px; }
            @media (max-width: 960px) {
              #site-content .contacts-content div article:first-child p:last-child {
                margin-top: 20px; } }
          #site-content .contacts-content div article:first-child p span {
            color: #444444; }
      #site-content .contacts-content div article:last-child {
        float: right;
        width: 45%; }
        @media (max-width: 960px) {
          #site-content .contacts-content div article:last-child {
            float: none;
            width: 100%; } }
        #site-content .contacts-content div article:last-child .container-form {
          padding-right: 50px; }
          @media (max-width: 599px) {
            #site-content .contacts-content div article:last-child .container-form {
              padding-right: 0; } }
          #site-content .contacts-content div article:last-child .container-form div {
            margin-bottom: 20px; }
            #site-content .contacts-content div article:last-child .container-form div label {
              font: 1rem "lato", sans-serif;
              margin-bottom: 10px;
              text-align: left; }
            #site-content .contacts-content div article:last-child .container-form div input, #site-content .contacts-content div article:last-child .container-form div textarea {
              background: rgba(255, 255, 255, 0.4);
              border: none;
              color: #81909a;
              display: block;
              font: 1rem "lato", sans-serif;
              margin-top: 10px;
              padding: 15px 20px;
              text-align: left;
              width: 100%; }
              @media (max-width: 599px) {
                #site-content .contacts-content div article:last-child .container-form div input, #site-content .contacts-content div article:last-child .container-form div textarea {
                  padding: 5%;
                  width: 85%; } }
              #site-content .contacts-content div article:last-child .container-form div input:focus, #site-content .contacts-content div article:last-child .container-form div textarea:focus {
                background: none;
                border: 1px solid #f7b231;
                color: #444444;
                outline: none; }
            #site-content .contacts-content div article:last-child .container-form div textarea {
              height: 60px; }
        #site-content .contacts-content div article:last-child button {
          background: #ffffff;
          border: none;
          border-radius: 30px;
          color: #f7b231;
          cursor: pointer;
          font: 0.8rem "lato", sans-serif;
          font-weight: 700;
          outline: none;
          padding: 16px 40px;
          text-transform: uppercase; }
          #site-content .contacts-content div article:last-child button:hover, #site-content .contacts-content div article:last-child button:active {
            background: #81909a;
            color: #ffffff; }

/* --- END CONTENT --- */
/* --- START FOOTER --- */
footer {
  display: inline;
  font-size: 0.8rem; }
  footer .footer-content {
    margin-top: 30px;
    margin-bottom: 30px; }
    footer .footer-content p {
      color: #81909a;
      float: left; }
      @media (max-width: 599px) {
        footer .footer-content p {
          float: none; } }
    footer .footer-content p, footer .footer-content ul li {
      margin: 0px 20px; }
      @media (max-width: 960px) {
        footer .footer-content p, footer .footer-content ul li {
          margin: 10px; } }
    footer .footer-content ul li {
      background-color: lightyellow; }

/* --- END FOOTER --- */
/* --- START THANK YOU PAGE --- */
#full-content .thank-you-content {
  margin-top: 15%; }
  @media (max-width: 599px) {
    #full-content .thank-you-content {
      margin-top: 30%; } }
  #full-content .thank-you-content div {
    margin-bottom: 10%;
    text-align: center; }
    #full-content .thank-you-content div .form-page {
      margin: 0 auto;
      text-align: center; }
      #full-content .thank-you-content div .form-page p {
        color: #81909a;
        font-size: 0.8rem;
        text-transform: uppercase; }
        #full-content .thank-you-content div .form-page p .icon {
          color: #f2887d;
          padding: 0 5px; }
      #full-content .thank-you-content div .form-page .above-description {
        float: left;
        width: 100%;
        position: relative; }
        #full-content .thank-you-content div .form-page .above-description span {
          background-color: lightyellow;
          color: #81909a;
          font-family: "lato", sans-serif;
          font-size: 1.125rem; }
  #full-content .thank-you-content .above-navigation a {
    text-align: center; }
    #full-content .thank-you-content .above-navigation a.page-scroll {
      background-color: lightyellow;
      border: 1px solid #f7b231;
      display: block;
      float: none;
      font-family: "montserrat", sans-serif;
      font-size: 0.8rem;
      margin: 0 auto;
      padding: 16px 40px;
      width: 250px; }
      #full-content .thank-you-content .above-navigation a.page-scroll:hover {
        background-color: #f7b231;
        color: #ffffff; }
      @media (max-width: 599px) {
        #full-content .thank-you-content .above-navigation a.page-scroll {
          margin: auto;
          float: none;
          width: 100%; } }

/* --- END THANK YOU PAGE --- */
